@import "../../../shared/scss/common";

.H__body {
  form {
    width: 100%;

    .form-container {
      width: 100%;
      max-width: 70rem;
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        width: 80%;
      }
    }

    .formGroup {
      margin-bottom: 1rem;
      label {
        font-size: 1.4rem;
        color: #727272;
        margin-bottom: 0.5rem;
      }

      input,
      select {
        display: block;
        width: 100% !important;
        height: 4rem;
        border-radius: 0.5rem;
        border: 1px solid #666;

        &:focus {
          outline: none;
          border: 2px solid #333;
        }

        &.invalid {
          border: 2px solid #f05123;
          color: #f05123;
        }
      }

      input {
        width: 20rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      select {
        width: 20rem;
      }

      .error-messages {
        margin-left: 1.7rem;
        font-size: 1.2rem;
        color: #f05123;
      }

      button.btn-submit-form {
        font-size: 1.6rem;
        display: block;
        width: 100%;
        height: 4rem;
        margin-top: 3.8rem;
        border-radius: 0.5rem;
      }
    }
  }
}
