<div class="H__container">
  <div class="H__title">
    <h2>Top Học Viên</h2>
    <button class="btn--view-all">
      Xem thêm <span><i class="fas fa-arrow-right"></i></span>
    </button>
  </div>
  <div class="H__body">
    <div class="student-info">
      <div class="student-info--general">
        <img
          src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80"
          alt="user-avatar"
        />
        <div>
          <p>Vu Hong Thai Son</p>
          <p>100 courses</p>
        </div>
      </div>
      <div class="student-info--contact">
        <a href="#"><i class="far fa-user-circle"></i></a>
        <a href="#"><i class="far fa-comment-alt"></i></a>
        <a href="#"><i class="fas fa-phone-alt"></i></a>
      </div>
    </div>
    <div class="student-info">
      <div class="student-info--general">
        <img
          src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
          alt="user-avatar"
        />
        <div>
          <p>Van Minh Thuan</p>
          <p>100 courses</p>
        </div>
      </div>
      <div class="student-info--contact">
        <a href="#"><i class="far fa-user-circle"></i></a>
        <a href="#"><i class="far fa-comment-alt"></i></a>
        <a href="#"><i class="fas fa-phone-alt"></i></a>
      </div>
    </div>
    <div class="student-info">
      <div class="student-info--general">
        <img
          src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
          alt="user-avatar"
        />
        <div>
          <p>Tran Cong Hau</p>
          <p>100 courses</p>
        </div>
      </div>
      <div class="student-info--contact">
        <a href="#"><i class="far fa-user-circle"></i></a>
        <a href="#"><i class="far fa-comment-alt"></i></a>
        <a href="#"><i class="fas fa-phone-alt"></i></a>
      </div>
    </div>
  </div>
</div>
