<div class="H__container">
  <div class="H__title">
    <h2>Khóa Học Gần Đây</h2>
    <button class="btn--view-all">
      Xem thêm <span><i class="fas fa-arrow-right"></i></span>
    </button>
  </div>
  <div class="H__body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Khóa học</th>
          <th scope="col">Giáo viên</th>
          <th scope="col">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>JavaScript Cơ Bản</td>
          <td>Nguyễn Ngọc Chung Chí</td>
          <td>
            <i class="fas fa-circle active"></i>
            <span>Active</span>
          </td>
        </tr>
        <tr>
          <td>Kiến Thức Nhập Môn IT</td>
          <td>Nguyễn Tấn Hiệp</td>
          <td>
            <i class="fas fa-circle active"></i>
            <span>Active</span>
          </td>
        </tr>
        <tr>
          <td>JavaScript Nâng Cao</td>
          <td>Nguyễn Hoàng Linh</td>
          <td><i class="fas fa-circle review"></i><span>Review</span></td>
        </tr>
        <tr>
          <td>HTML, CSS từ Zero đến Hero</td>
          <td>Đặng Duy Lĩnh</td>
          <td><i class="fas fa-circle pending"></i><span>Pending</span></td>
        </tr>
        <tr>
          <td>Responsive Với Grid System</td>
          <td>Vũ Ngọc Phát</td>
          <td><i class="fas fa-circle review"></i><span>Review</span></td>
        </tr>
        <tr>
          <td>Node & ExpressJS</td>
          <td>Nguyễn Hoàng Linh</td>
          <td><i class="fas fa-circle active"></i><span>Active</span></td>
        </tr>
        <tr>
          <td>Xây Dựng Website với ReactJS</td>
          <td>Nguyễn Tấn Hiệp</td>
          <td><i class="fas fa-circle review"></i><span>Review</span></td>
        </tr>
        <tr>
          <td>HTML, CSS Tips & Tricks</td>
          <td>Đặng Duy Lĩnh</td>
          <td><i class="fas fa-circle active"></i><span>Active</span></td>
        </tr>
        <tr>
          <td>App "Đừng Chạm Tay Lên Mặt"</td>
          <td>Nguyễn Ngọc Chung Chí</td>
          <td><i class="fas fa-circle active"></i><span>Active</span></td>
        </tr>
        <tr>
          <td>Làm việc với Terminal & Ubuntu</td>
          <td>Vũ Ngọc Phát</td>
          <td><i class="fas fa-circle pending"></i><span>Pending</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
