<div class="container">
    <h1>Shopping Cart</h1>
    <div class="DL__content-cart">
        <div class="row">
            <!-- content left start -->
            <div class="col-xl-9 col-md-7">
                <span class="DL__total-course">3 Courses in Cart</span>
                <ul class="list-group">
                    <li class="list-group-item">
                        <!-- course 1 -->
                        <div class="row mt-3 DL__content-center-border">
                            <div class="DL__content-img col-xl-2">
                                <img src="https://img-b.udemycdn.com/course/240x135/647428_be28_6.jpg?secure=rB2xLvQy1YMhRSs3hrqci
                                Q%3D%3D%2C1639823282"alt="">
                            </div>
                            <div class="DL__content-center col-xl-7">
                                <h6>Spring & Hibernate for Beginners (includes Spring Boot)</h6>
                                <span class="DL__content-by">By Chad Darby, Popular Java Spring Instructor - Best Seller</span>
                                <div>
                                    <div class="DL__content-rating">Bestseller</div>
                                    <div class="DL__content-rating-star">
                                        <span class="count-rating-star">4.6</span>
                                        <span class="rating-star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </span>
                                        <span class="count-rating-vote">(58298 ratings)</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="DL__content-bottom">42.5 total hours • 567 lectures • All Levels</span>
                                </div>
                            </div>
                            <div class="col-xl-2 DL__content-container-remove-save">
                                <div class="DL__content-wrapper-remove">
                                    <span class="DL__content-remove"><a href="">Remove</a></span>
                                </div>
                                <div class="DL__content-wrapper-save">
                                    <span class="DL__content-save"><a href="">Save for Later</a></span>
                                </div>
                            </div>
                            <div class="col-xl-1 DL__content-price">$199.99 <span><i class="bi bi-tag-fill"></i></span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <!-- course 2 -->
                        <div class="row mt-3 DL__content-center-border">
                            <div class="DL__content-img col-xl-2">
                                <img src="https://img-c.udemycdn.com/course/240x135/1740038_cde5_10.jpg"alt="">
                            </div>
                            <div class="DL__content-center col-xl-7">
                                <h6>Python par la pratique : 101 Exercices Corrigés</h6>
                                <span class="DL__content-by">Thibault Houdon | Formateur et développeur Python</span>
                                <div class="DL__content-rating-star">
                                    <div class="DL__content-rating">Bestseller</div>
                                    <span class="count-rating-star">4.6</span>
                                    <span class="rating-star">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </span>
                                    <span class="count-rating-vote">(628 ratings)</span>
                                </div>
                                <div>
                                    <span class="DL__content-bottom">3,5 heures au total • 157 lectures • Tous les niveaux</span>
                                </div>
                            </div>
                            <div class="col-xl-2 DL__content-container-remove-save">
                                <div class="DL__content-wrapper-remove">
                                    <span class="DL__content-remove"><a href="">Remove</a></span>
                                </div>
                                <div class="DL__content-wrapper-save">
                                    <span class="DL__content-save"><a href="">Save for Later</a></span>
                                </div>
                            </div>
                            <div class="col-xl-1 DL__content-price">$179.99 <span><i class="bi bi-tag-fill"></i></span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <!-- course 3 -->
                        <div class="row mt-3 DL__content-center-border">
                            <div class="DL__content-img col-xl-2">
                                <img src="https://img-c.udemycdn.com/course/240x135/2196488_8fc7_7.jpg"alt="">
                            </div>
                            <div class="DL__content-center col-xl-7">
                                <h6>Ultimate AWS Certified Solutions Architect Associate 2021</h6>
                                <span class="DL__content-by">By Stephane Maarek | AWS Certified Cloud Practitioner,Solutions Architect,Developer, Best Selling Instructor, 
                                    Kafka Guru, 9x AWS Certified</span>
                                <div>
                                    <div class="DL__content-rating">Bestseller</div>
                                    <div class="DL__content-rating-star">
                                        <span class="count-rating-star">4.7</span>
                                        <span class="rating-star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </span>
                                        <span class="count-rating-vote">(105421 ratings)</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="DL__content-bottom">27 total hours • 371 lectures • All Levels</span>
                                </div>
                            </div>
                            <div class="col-xl-2 DL__content-container-remove-save">
                                <div class="DL__content-wrapper-remove">
                                    <span class="DL__content-remove"><a href="">Remove</a></span>
                                </div>
                                <div class="DL__content-wrapper-save">
                                    <span class="DL__content-save"><a href="">Save for Later</a></span>
                                </div>
                            </div>
                            <div class="col-xl-1 DL__content-price">$199.99 <span><i class="bi bi-tag-fill"></i></span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- content left end -->

            <!-- content right start -->
            <div class="col-xl-3 col-md-5">
                <div class="DL__content-right-total">Total:</div>
                <div class="DL__content-right-price">$579.97</div>
                <div class="DL__content-right-btn-checkout">
                    <button>Checkout</button>
                </div>
                <div class="DL__content-right-promotion">Promotions</div>
                <div class="DL__content-right-keep">
                    <button><span><i class="bi bi-x"></i></span></button>
                    <span>
                        <b>KEEPLEARNING</b>
                        is applied
                    </span>
                </div>
                <div class="DL__content-right-apply">
                    <input type="text" placeholder="Enter Coupon">
                    <button>Apply</button>
                </div>
            </div>
            <!-- content right end -->
          </div>
    </div>
</div>
