.H__container {
  box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.07),
    0px 0px 1.3px rgba(0, 0, 0, 0.101), 0px 0px 2.5px rgba(0, 0, 0, 0.125),
    0px 0px 4.5px rgba(0, 0, 0, 0.149), 0px 0px 8.4px rgba(0, 0, 0, 0.18),
    0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
}

.close-btn,
.back-btn {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
}

.close-btn {
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
}

.back-btn {
  top: 0.8rem;
  right: 5rem;
  font-size: 2.2rem;
}

.H__title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  button {
    font-size: 1.4rem;

    &.btn--view-all {
      background: #f05123;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;

      span {
        margin-left: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}

.H__body {
  margin-top: 2rem;
  font-size: 1.6rem;

  table th {
    font-size: 1.8rem;
  }

  i {
    font-size: 1rem;
    margin-right: 0.8rem;

    &.active {
      color: #31bb63;
    }
    &.review {
      color: #fed211;
    }
    &.pending {
      color: #ff4150;
    }
  }
}
