<!-- FOOTER -->
<div class="footer-wrapper">
  <div class="container">
    <div class="footer-container">
      <div class="footer-top">
        <div class="row">
          <div
            class="col col-12 col-md-6 col-lg-3 text-center text-md-start justify-content-center justify-content-md-start justify-content-lg-start"
          >
            <div class="footer-item">
              <div
                class="footer-header d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-star"
              >
                <img
                  src="https://fullstack.edu.vn/assets/icon/f8_icon.png"
                  alt="F8 logo"
                  class="footer-logo"
                  [routerLink]="['/']"
                  style="cursor: pointer"
                />
                <h2 class="footer-heading text-start">
                  Học lập trình để đi làm
                </h2>
              </div>
              <ul class="footer-infor">
                <li>Email: <a>contact@fullstack.edu.vn</a></li>
                <li>
                  Địa chỉ: Nhà D9, lô A10, Nam Trung Yên, Trung Hòa, Cầu Giấy,
                  Hà Nội
                </li>
                <li>
                  <img
                    src="https://fullstack.edu.vn/assets/icon/dmca.png"
                    alt=""
                  />
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col col-12 col-md-6 col-lg-3 text-center text-md-start justify-content-center justify-content-md-start justify-content-lg-start"
          >
            <div class="footer-item">
              <h2 class="footer-title">Hỗ trợ</h2>
              <ul class="footer-infor">
                <li><a>Liên hệ</a></li>
                <li><a>Bảo mật</a></li>
                <li><a>Điều khoản</a></li>
              </ul>
            </div>
          </div>

          <div
            class="col col-12 col-md-6 col-lg-3 text-center text-md-start justify-content-center justify-content-md-start justify-content-lg-start pl-lg-5 pl-md-5"
          >
            <div class="footer-item">
              <h2 class="footer-title">Về F8</h2>
              <ul class="footer-infor">
                <li><a>Giới thiệu</a></li>
                <li><a>Cơ hội việc làm</a></li>
                <li><a>Đối tác</a></li>
              </ul>
            </div>
          </div>

          <div
            class="col col-12 col-md-6 col-lg-3 text-center text-md-start justify-content-center justify-content-md-start justify-content-lg-start pl-md-5"
          >
            <div class="footer-item">
              <h2 class="footer-title">Đơn vị chủ quản</h2>
              <ul class="footer-infor">
                <li>Người đại diện: Đặng Ngọc Sơn - Giám Đốc</li>
                <li>Mã số doanh nghiệp: 0108721536</li>
                <li>Ngày thành lập: 03/05/2019</li>
                <li>Nơi cấp: Sở kế hoạch và đầu tư TP Hà Nội</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row">
          <div class="col col-12 col-md-6 col-lg-6">
            <p class="text-center text-md-start">
              © 2022 F8 - Nền tảng học lập trình web đầu tiên tại Việt Nam
            </p>
          </div>
          <div class="col col-12 col-md-6 col-lg-6">
            <p
              class="footer-icons d-flex justify-content-center justify-content-md-end justify-content-lg-end"
            >
              <a href="">
                <i class="fab fa-facebook-square" style="color: #4267b2"></i>
              </a>
              <a href="">
                <i class="fab fa-youtube-square" style="color: #ea4335"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
