<div class="H__page-not-found">
  <a [routerLink]="['/']" class="logo">
    <img
      src="https://accounts.fullstack.edu.vn/assets/icon/f8_icon.png"
      alt="logo"
    />
    <span>Học Lập Trình Để Đi Làm</span>
  </a>
  <div class="H__content">
    <h2>404</h2>
    <h1>Trang này không tồn tại</h1>
    <p class="H__hint">
      Hãy thử tải lại trang, sự cố này có thể chỉ là tạm thời.
    </p>
    <p class="H__hint">
      Nếu bạn nhập địa chỉ theo cách thủ công, hãy kiểm tra lại xem có chính xác
      không(?)
    </p>
    <a [routerLink]="['/']">Quay về trang chủ</a>
  </div>
  <div class="H__copyright">
    &copy; 2022 F8 - Nền tảng học lập trình web đầu tiên tại Việt Nam
  </div>
</div>
