<div class="H__container">
  <div class="H__title">
    <h2>Sự Kiện & Hoạt Động</h2>
    <button class="btn--view-all">
      Xem thêm <span><i class="fas fa-arrow-right"></i></span>
    </button>
  </div>
  <div class="H__body">
    <ul class="event-list">
      <li class="event-item">
        <a class="event-link" href="#"
          ><i class="fas fa-circle active"></i
          ><span
            >Khuyễn mãi 99% tất cả các khóa học (1/1/2022 - 31/1/2022)</span
          ></a
        >
      </li>
      <li class="event-item">
        <a class="event-link" href="#"
          ><i class="fas fa-circle active"></i
          ><span
            >Khuyễn mãi 99% tất cả các khóa học (1/1/2022 - 31/1/2022)</span
          ></a
        >
      </li>
      <li class="event-item">
        <a class="event-link" href="#"
          ><i class="fas fa-circle active"></i
          ><span
            >Khuyễn mãi 99% tất cả các khóa học (1/1/2022 - 31/1/2022)</span
          ></a
        >
      </li>
      <li class="event-item">
        <a class="event-link" href="#"
          ><i class="fas fa-circle active"></i
          ><span
            >Khuyễn mãi 99% tất cả các khóa học (1/1/2022 - 31/1/2022)</span
          ></a
        >
      </li>
      <li class="event-item">
        <a class="event-link" href="#"
          ><i class="fas fa-circle active"></i
          ><span
            >Khuyễn mãi 99% tất cả các khóa học (1/1/2022 - 31/1/2022)</span
          ></a
        >
      </li>
    </ul>
  </div>
</div>
