<app-header></app-header>

<div class="content">
  <div class="content-conatiner">
    <div class="row">
      <div class="col-lg-1">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-lg-11 col-sm-12">
        <div class="course_home">
          <div class="course_home-wrapper">
            <h2 class="course_home-title">Khóa đang học</h2>
            <section class="course_home-islearning row">
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/13/13.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Xây dựng Website với ReactJS</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/6.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Node & ExpressJS</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/1.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Javascript Cơ Bản</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/3.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Responsive Với Grid System</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/2.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>HTML, CSS Từ Zero Đến Hero</a>
                </h3>
              </div>
            </section>
            <h2 class="course_home-title">Khóa chưa học</h2>
            <section class="course_home-islearning row">
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/13/13.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Xây dựng Website với ReactJS</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/6.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Node & ExpressJS</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/1.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Javascript Cơ Bản</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/3.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>Responsive Với Grid System</a>
                </h3>
              </div>
              <div class="course_home-item col-lg-3 col-md-4 col-sm-12">
                <div class="course_home-detail">
                  <a>
                    <div class="course_home-image"
                      style="background-image: url(https://cdn.fullstack.edu.vn/f8-production/courses/2.png)">
                    </div>
                  </a>
                  <div class="course_home-progressbar"></div>
                </div>
                <h3 class="course_home-name">
                  <a>HTML, CSS Từ Zero Đến Hero</a>
                </h3>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
